*.swp
node_modules
node_modules/*
config.json
apidoc/*
foo/*
.idea
puppet/puppet.conf
puppet/modules/apt
puppet/modules/concat
puppet/modules/epel
puppet/modules/postgresql
puppet/modules/redis
puppet/modules/stdlib
puppet/environments
puppet/templates
